@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Readex+Pro:wght@160..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 65%;
  margin: 100px auto;
}

/* INTRO */

.intro {
  width: 100%;
  height: 100vh;
  background: url(images/intro.png) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro__content {
  text-align: center;
  color: #fff;
}

.intro__suptitle {
  font-size: 24px;
  font-weight: 600;
}

.intro__title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 24px;
}

.intro__links {
  margin-top: 28px;
}

.intro__links a {
  color: #fff;
  text-decoration: none;
  margin: 0 14px;
  font-size: 28px;

  transition: transform 0.2s ease;
}

.intro__links a:hover {
  transform: scale(1.15);
}

.intro__links a:active {
  transform: scale(0.95);
}

/* HEADER */

.header {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-top: 20px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header .logo {
  font-family: "Pacifico";
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

/* NAVBAR */

.navbar__link {
  text-decoration: none;
  color: #fff;
  margin-left: 48px;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

.navbar__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #fff;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.navbar__link:hover::before {
  transform: scaleX(1);
}

/* ABOUT */

.about {
  height: 360px;
  display: flex;
}

.about__cards {
  flex: 1;
}

.about__img {
  width: 200px;
  height: 326px;
  display: inline-block;
}

.about__img:first-child {
  position: relative;
  top: 30px;
  margin-right: 10px;
}

.about__info {
  flex: 1;
}

.about__title {
  font-size: 32px;
  font-weight: 500;
  margin: 46px 0 24px;
}

.about__text {
  font-size: 18px;
  color: #959595;
  margin-bottom: 32px;
}

/* DISCOVER */

.discover__title {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
}

.discover__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.discover__img {
  width: 274px;
  height: 346px;
  transition: transform 0.2s ease;
}

.discover__img:nth-child(2) {
  width: 316px;
  height: 400px;
}

.discover__img:hover {
  transform: scale(1.05);
}

/* ABOUT */

.explore {
  width: 75%;
}

.explore__title {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
}

.explore__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.explore__card {
  width: 295px;
  height: 373px;
  position: relative;
  transition: transform 0.2s ease;
}

.explore__card:hover {
  transform: scale(1.05);
}

.explore__caption {
  background: #fff;
  margin: 16px;
  border-radius: 10px;
  text-align: center;
  padding: 11px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.explore__caption h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 6px;
}

.explore__caption h6 {
  font-size: 16px;
  color: #959595;
  font-weight: 500;
}

.drini {
  background: url(images/drinibeach.png) no-repeat center center/cover;
}

.baron {
  background: url(images/baronbeach.png) no-repeat center center/cover;
}

.trisik {
  background: url(images/trisikbeach.png) no-repeat center center/cover;
}

/* NEWSLETTER */

.newsletter {
  margin: 100px auto;
  width: 82%;
  background-color: #2b6f3e;
  border-radius: 16px;
  text-align: center;
  padding: 100px;
}

.newsletter__title {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}

.newsletter__text {
  color: #fff;
  font-size: 18px;
  margin: 16px 0 24px;
}

/* FOOTER */

.footer {
  background-color: #2b6f3e;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 24px 0;
  font-weight: 500;
}

/* BUTTON */

.btn {
  display: inline-block;

  padding: 10px 18px;
  background-color: #2b6f3e;
  font-weight: 400;
  border-radius: 8px;

  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.inverted {
  color: #2b6f3e;
  background-color: #fff;
  font-weight: 500;
}

.btn:hover {
  background-color: #1f4a2e;
}

.inverted:hover {
  background-color: #e6e6e6;
}

.btn:active {
  transform: scale(0.95);
}

/* MEDIA QUERY */

@media only screen and (max-width: 1300px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 1150px) {
  .explore__card {
    width: 250px;
    height: 317px;
  }

  .explore__caption h2 {
    font-size: 20px;
  }

  .explore__caption h6 {
    font-size: 12px;
  }

  .discover__img {
    width: 233px;
    height: 294px;
  }

  .discover__img:nth-child(2) {
    width: 269px;
    height: 340px;
  }

  .about__img {
    width: 170px;
    height: 277px;
    display: inline-block;
  }

  .about__img:first-child {
    position: relative;
    top: 30px;
    margin-right: 10px;
  }

  .about__title {
    font-size: 30px;
  }

  .about__text {
    font-size: 16px;
    color: #959595;
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 950px) {
  .discover__img {
    width: 274px;
    height: 346px;
  }

  .discover__img:nth-child(2) {
    display: none; /* i aint using any js cuz im lazy as fuck */
  }

  /* and also it in all variations looking just ugly (if not use js) */

  .explore__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  .explore__card {
    width: 443px;
    height: 559px;
    margin-bottom: 20px;
  }

  .explore__caption {
    background: #fff;
    margin: 16px;
    border-radius: 10px;
    text-align: center;
    padding: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .explore__caption h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .explore__caption h6 {
    font-size: 20px;
    color: #959595;
    font-weight: 500;
  }

  .about__cards {
    display: none;
  }

  .about__info {
    text-align: center;
  }
}

@media only screen and (max-width: 750px) {
  .intro__title {
    font-size: 40px;
  }

  .intro__suptitle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 665px) {
  .navbar__link {
    font-size: 14px;
  }

  .explore__card {
    width: 295px;
    height: 373px;
  }

  .explore__caption h2 {
    font-size: 24px;
  }

  .explore__caption h6 {
    font-size: 16px;
  }

  .discover__cards {
    width: 342px;
    height: 433px;
    overflow-x: scroll;
    margin: 20px auto;
    border-radius: 8px;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    /* display: flex; */
  }

  .discover__img {
    width: 342px;
    height: 433px;
    scroll-snap-align: start;
    /* flex-shrink: 0; */
  }

  .discover__img:nth-child(2) {
    display: block;
    width: 342px;
    height: 433px;
  }

  .discover__cards::-webkit-scrollbar {
    height: 5px;
    background: transparent;
  }

  /* Customize the scrollbar thumb */
  .discover__cards::-webkit-scrollbar-thumb {
    background-color: #888;
  }

  /* Customize the scrollbar thumb on hover */
  .discover__cards::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  /* Customize the scrollbar track */
  .discover__cards::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Firefox scrollbar */
  .discover__cards {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  } /* I TRIED tO DO SOMETHING, BUT EVEN COPILOT CANT DO IT */

  .discover__cards:hover {
    scrollbar-color: #555 transparent;
  }

  .discover__img:hover {
    transform: none;
  }
}

@media only screen and (max-width: 600px) {
  .navbar__link {
    margin-left: 26px;
  }

  .intro__title {
    font-size: 32px;
  }

  .intro__suptitle {
    font-size: 14px;
  }

  .newsletter__text {
    font-size: 16px;
  }

  .newsletter__title {
    font-size: 24px;
  }

  .newsletter {
    padding: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .header .logo {
    font-size: 24px;
  }

  .navbar__link:first-child {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .intro__title {
    margin-left: 2px;
    margin-right: 2px;
  }

  .discover__cards {
    width: 274px;
    height: 346px;
  }

  .discover__img {
    width: 274px;
    height: 346px;
  }

  .discover__img:nth-child(2) {
    width: 274px;
    height: 346px;
  }
}

@media only screen and (max-width: 365px) {
  .navbar__link {
    margin-left: 16px;
  }
}

@media only screen and (max-width: 320px) {
  .navbar__link {
    font-size: 12px;
  }
}
